.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 35px;
  overflow: hidden;
}

.cirkel {
  width: 250px;
  height: 250px;
  background-color: #bc002d;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bonsai {
  margin-top: auto;
  width: 100%;
  max-width: 350px;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}

.name {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.title {
  color: black;
  font-size: 3.5rem; /* Stor tekst */
  font-weight: 900; /* Meget fed */
  letter-spacing: 2px;
  white-space: nowrap;
}

.jp {
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

@media (min-width: 1024px) {
  /* 1. Skift retning til vandret */
  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .cirkel {
    width: 600px; /* Meget større cirkel */
    height: 600px;
    margin-right: 300px; /* Skub træet lidt væk */
    margin-bottom: 150px;
  }

  .title {
    font-size: 8rem; /* Kæmpe tekst */
    color: black; /* Sort tekst som på billedet */
    /* Den bryder automatisk rammen pga. din white-space: nowrap */
  }

  .name,
  .jp {
    font-size: 2rem;
  }

  /* 3. Placer Bonsai træet til højre */
  .bonsai {
    position: absolute;
    margin-left: 800px;
    max-height: auto; /* Fylder 45% af skærmbredden */
    max-width: 600px;
    margin-top: 190px;
    z-index: 1; /* Ligger under teksten hvis de rammer hinanden */
  }
}
