.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 110px;
  overflow: hidden;
}

.cirkel {
  width: 300px;
  height: 300px;
  background-color: #bc002d;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bonsai {
  margin-top: -5px;
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}

.name {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.title {
  color: #292929;
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  white-space: nowrap;
}

.jp {
  color: white;
  font-size: 1rem;
  font-weight: 800;
}

@media (min-width: 1024px) {
  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .cirkel {
    width: 675px;
    height: 675px;
    margin-bottom: 150px;
    flex-shrink: 0;
    margin-right: 350px;
  }

  .title {
    font-size: 10rem;
    line-height: 1;
  }

  .name {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .jp {
    font-size: 2.5rem;
    margin-top: 10px;
  }

  .bonsai {
    position: absolute;

    bottom: -10%;
    right: 2%;

    height: 96vh;
    width: auto;
    max-width: none;

    margin: 0;
    z-index: 2;
  }
}
