* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efece4;
  overflow-x: hidden;
}

.menu {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  gap: 35px;
  list-style: none;
  padding-right: 25px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 550;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  padding: 5px;
}
.cta-btn {
  background-color: green;
  border-radius: 5px;
  align-self: center;
}

@media (min-width: 1024px) {
  .menu a {
    font-size: 1.5rem;
  }
  .menu {
    gap: 70px;
    padding-right: 60px;
    padding-top: 20px;
  }
  .logo {
    max-width: 75px;
    max-height: 75px;
    padding: 5px;
  }
}
